.modal{
    z-index: 9;
    background-color: rgba(210, 210, 210, .075) !important;
}

.height{
    height: 55px !important;
}

.content {
    backgroundColor: rgba(90, 90, 90, .95);
}

.header {
    font-family: Raleway !important;
    background-color: black !important;
}